[user]
    email = gmarigliano93@gmail.com
    name = Gary Marigliano
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    stash-all = stash save --include-untracked
[credential]
    helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[color]
    ui = auto
[status]
    showUntrackedFiles = all
[pager]
    diff = true
    difftool = true
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = /usr/bin/env icdiff --line-numbers  $LOCAL $REMOTE
[core]
    excludesfile = /home/gary/.gitignore_global
    pager = delta --plus-color="22"  --minus-color="#340001" --theme='Monokai Extended'
[interactive]
    diffFilter = delta --color-only
