source .vimrc

nnoremap / /
nnoremap ? ?
nnoremap g/ g/

nnoremap <SPACE> <Nop>
let mapleader=" "
set easymotion

set surround
set commentary
set highlightedyank

noremap gd :action GotoDeclaration<CR>
