! ! =================
! ! ============
! !   Couleurs
! ! ============
*background: #1D1D26
*foreground: #B3B3D4
*secondary:  #535172
*active:     #FFCC66
!black
*color0:     #1D1D26
*color8:     #928374
!red
*color1:     #E20049
*color9:     #E20049
!green
*color2:     #00F572
*color10:    #00D965
!yellow
*color3:     #FFCC66
*color11:    #D9AD57
!blue
*color4:     #00BFFF
*color12:    #00A3D9
!magenta
*color5:     #FF3399
*color13:    #BD2671
!cyan
*color6:     #7874A6
*color14:    #535172
!white
*color7:     #F8F8F0
*color15: #B3B3AD


! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2b303b
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #dfe1e8
#define base07 #eff1f5
#define base08 #bf616a
#define base09 #d08770
#define base0A #ebcb8b
#define base0B #a3be8c
#define base0C #96b5b4
#define base0D #8fa1b3
#define base0E #b48ead
#define base0F #ab7967


*base00:      base00
*base01:      base01
*base02:      base02
*base03:      base03
*base04:      base04
*base05:      base05
*base06:      base06
*base07:      base07
*base08:      base08
*base09:      base09
*base0A:      base0A
*base0B:      base0B
*base0C:      base0C
*base0D:      base0D
*base0E:      base0E
*base0F:      base0F


! rofi
! =================
rofi.font:              "Bitstream Vera Sans" medium 20
rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:e81d1d26,argb:00292f37,#259E83
rofi.color-normal: argb:02000000,#B3B3AD,argb:02000000,argb:02000000,#259E83
rofi.color-active: argb:02000000,#B3B3AD,argb:02000000,argb:02000000,#B3B3AD
rofi.color-urgent: argb:02000000,#B3B3AD,argb:02000000,argb:02000000,#B3B3AD

rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 10
rofi.width: 100
rofi.padding: 200
rofi.bw: 0
rofi.show-icons: true
