! terminal.sexy tomorrow dark
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6
*secondary:  #535172
*active:     #FFCC66

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

! rofi
! =================
rofi.font: "Source Code Pro for Powerline" medium 20
rofi.fullscreen: true
rofi.color-enabled: true
rofi.color-window: argb:f41d1f21,argb:00292f37,#f0c674
rofi.color-normal: argb:02000000,#B3B3AD,argb:02000000,argb:02000000,#f0c674
rofi.color-active: argb:02000000,#B3B3AD,argb:02000000,argb:02000000,#B3B3AD
rofi.color-urgent: argb:02000000,#B3B3AD,argb:02000000,argb:02000000,#B3B3AD

rofi.eh: 1
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.lines: 10
rofi.width: 100
rofi.padding: 200
rofi.bw: 0
rofi.show-icons: true


! urxvt
! ==================

URxvt.scrollstyle: rxvt
URxvt.termName: rxvt-256color
URxvt.urgentOnBell: true
URxvt.cursorBlink: true

! Disable urxvt ISO14755 mode yellow box on ctrl+shift
URxvt.iso14755: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! font
! URxvt*.font: xft:Bitstream Vera Sans Mono:size=10.5,xft:powerlinesymbols
! URxvt*.font: xft:SourceCodePro-Light:size=12.5:antialias=true,\
! xft:sazamani mincho:size=10:antialias=true,\
! xft:ar pl ukai cn:size=10:antialias=true

! URxvt*.italicFont: xft:dejavu sans mono:style=italic:size=16:antialias=true
! URxvt*font: xft:Monospace:pixelsize=14
! URxvt*boldFont: xft:Monospace:pixelsize=14
! URxvt*italicFont: xft:Monospace:ixelsize=14

! Require to install Source Code Pro and Symbola fonts
! URxvt*font: xft:Source\ Code\ Pro\ Medium:pixelsize=15:antialias=true:hinting=true,xft:Source\ Code\ Pro\ Medium:pixelsize=15:antialias=true:hinting=true,xft:symbola:size=9
! URxvt*boldFont: xft:Source\ Code\ Pro\ SemiBold:pixelsize=15:antialias=true:hinting=true,xft:Source\ Code\ Pro\ SemiBold:pixelsize=15:antialias=true:hinting=true,xft:symbola:size=9

! URxvt*font: xft:Source Code Pro for Powerline:size=12
! URxvt*boldFont: xft:Source Code Pro for Powerline:bold:size=12
! URxvt*italicFont: xft:Source Code Pro for Powerline:italic:size=12

! Requires packages: nerd-fonts-complete, ner-fonts-source-code-pro and ttf-symbola
URxvt*font: xft:Sauce Code Pro Nerd Font Mono-13,symbola:size:10
URxvt*boldFont: xft:Sauce Code Pro Nerd Font Mono:semibold:pixelsize=18
URxvt*italicFont: xft:Sauce Code Pro Nerd Font Mono:italic:pixelsize=18
URxvt*boldItalicFont: xft:Sauce Code Pro Nerd Font Mono:semibold:italic:pixelsize=18
! URxvt.letterSpace: 0
! URxvt.lineSpace: 1
! URxvt.letterSpace: -1

Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: rgba
Xft.rgba: rgb

URxvt.intensityStyles: false
URxvt*skipBuiltinGlyphs: true

! Clickable URLs
URxvt.perl-ext-common: default,matcher,font-size,keyboard-select
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Larger history limit
URxvt.saveLines: 1000000

! Disable scrollbar
URxvt.scrollBar: false

! Copy paste selection key bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Zoom in/out. Require: https://github.com/majutsushi/urxvt-font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! Alt-Esc to enter in keyboard select mode
URxvt.keysym.M-Escape: perl:keyboard-select:activate

! Scroll output
URxvt.keysym.C-Shift-K: command:\033]720;1\007
URxvt.keysym.C-Shift-J: command:\033]721;1\007
