[Desktop Entry]
Version=1.0
Type=Application
Name=Play/Pause
Comment=
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause
Icon=media-playback-start-symbolic
Path=
Terminal=false
StartupNotify=false
