configuration {
        modi: "window,drun,comb";
        combi-modi: "window,drun";
        font: "Sauce Code Pro Nerd Font Mono 22";
        show-icons: true;
        case-sensitive: false;
        eh: 1;
        disable-history: true;
}
