[Desktop Entry]
Version=1.0
Type=Application
Name=Next song
Comment=
Exec=dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.Next
Icon=media-skip-forward-symbolic
Path=
Terminal=false
StartupNotify=false
